# Exploratory Notebook

In [3]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('../Data/im.db')

In [4]:
df = pd.read_sql("""

SELECT *
FROM movie_basics







""", conn)

In [5]:
df.columns

Index(['movie_id', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [6]:
df.shape

(146144, 6)

In [23]:
df['genres'].unique()[:10]

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama', 'Comedy,Drama',
       'Comedy,Drama,Fantasy', 'Comedy', 'Horror,Thriller',
       'Adventure,Animation,Comedy', 'Documentary,History', 'Biography'],
      dtype=object)

In [8]:
df['genres'].keys

<bound method Series.keys of 0           Action,Crime,Drama
1              Biography,Drama
2                        Drama
3                 Comedy,Drama
4         Comedy,Drama,Fantasy
                  ...
146139                   Drama
146140             Documentary
146141                  Comedy
146142                    None
146143             Documentary
Name: genres, Length: 146144, dtype: object>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [10]:
df['genres'].isna().sum()

5408

In [11]:
df_2 = pd.read_sql("""

SELECT *
FROM movie_ratings







""", conn)

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [20]:
df_2

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [13]:
df_3 = pd.read_sql("""

SELECT *
FROM movie_akas


""", conn)

In [15]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   movie_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [16]:
null_counts_3 = df_3.isnull().sum()
null_counts_3

movie_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [19]:
df_3['types']

0                None
1         imdbDisplay
2         imdbDisplay
3                None
4         imdbDisplay
             ...
331698       original
331699    imdbDisplay
331700       original
331701           None
331702    imdbDisplay
Name: types, Length: 331703, dtype: object

In [ ]:
df_5 = pd.read_sql("""

SELECT *
FROM movie_basics
    JOIN movie_ratings 
        ON 
    J


""", conn)